#show{
   width: 480px;
   height: 60px;
   margin: 10px 5px;
   border-radius: 10px;
   background-color: rgb(126, 126, 126);
   color: rgb(255, 255, 255);
   font-size: 30px;
   text-align: center;
}
#calculator{
    background-color: rgb(127, 204, 255);
    width: 500px;
    height: 420px;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    border-radius: 20px;
}
button{
    width: 120px;
    height: 60px;
    background-color: rgb(63, 143, 197);
    font-size: 30px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
img{
   padding: 5px 0px 0px 0px;
}
table{
    margin: 0 auto;
    padding: 5px;
}